*{
    margin: 0; padding: 0; text-decoration: none;
    list-style: none; 
    scroll-behavior: smooth;
}
body{
    height: 100%;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    width: 100%;
    position: relative;
    z-index: 100;
    height: auto;
}
.container .menu{
    height: 50px;
    display: flex;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}
.menu-top-left{
    position: relative;
    height: 50px;
    width: 100%;
    float: left;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    z-index: 100;
}
.menu-top-left ul{margin: 0 0 0 100px;}
.menu-top-left ul li{
    display: inline-flex;
    line-height: 50px;
    margin: 0 10px 0 0;
   
}
.menu-top-left ul li a{
    color: rgb(66, 44, 44); 
    font-size: 13px;
    font-weight: 600;
}

.menu-top-left ul li ul{
    display: none;
    position: relative;
}   
.menu-top-left ul li:hover ul{
    display: block;
    position: absolute;
    z-index: 200;
    top: 40px;
    left: 200px;
    width: 150px;
    height: 130px;
    padding: 20px 0 20px 0;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.3);
}   
.top-left li ul li a{
    font-weight: 500;
    margin-left: 5px;
}
.top-left li ul li a:hover{color: cadetblue;}
.top-left li ul li{
    display: block;
    margin: -20px 0;
}
.menu-top-right{
    width: 440px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    border-left: 1px solid rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 100;
    display: flex;
    justify-content: space-between;
}
.menu-top-right p{
    line-height: 50px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    margin: 0 100px 0 0;
}
.menu-top-right .shop{
    line-height: 50px;
    width: auto;
    margin: 0 0 0 10px;
}
.menu-top-right .shop i{
   font-size: 20px;
   color: rgb(228, 140, 63);
}
.menu-top-right .shop:hover{
    opacity: 0.8;
}
.menu-top-right .shop a{
   font-size: 15px;
   font-weight: 600;
   color: #111;
}
.menu-top-right .logout{margin: 0 100px 0 0; }
.menu-top-right .logout a{ color: red; text-decoration: underline;}
.menu-top-right span i
{
    position: relative;
    line-height: 50px;
    left: 10px; font-size: 19px;
    opacity: 0.8;
}
.search-call{
    position: relative;
    height: 70px;
    width: 100%;
    background-color: rgb(223, 243, 240);
    display: flex;
    justify-content: space-between;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    z-index: 90;
}
.search-call .search{
    margin: 0 0 0 100px;
    width: auto;
    display: flex;
}
.search-call .search form {
    width: auto;
}

.search-call .search input{
    width: 550px; 
    height: 34px;
    margin: 4px 0 0 0;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin: 15px 0 0 0;
    float: left;
}

.search-call .search button{
    height: 36px;
    border: none;
    width: 100px;
    color: #fff;
    font-weight: 600;
    background-color: rgb(228, 140, 63);
    cursor: pointer;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 15px 0 0 0;
}
.search-call .search .select{
    width: 205px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    height: 36px;
    outline: none;
    margin: 15px 0 15px 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.search-call .call{
    line-height: 70px;
    margin: 0 100px 0 0;
}
.footer{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    position: relative;
    background-color: rgba(0, 0, 0, 1);
}
.KYJ{
    position: fixed;
    z-index: 1;
    bottom: 0;
    background-size: cover;
    background-position: center;
    width: 100%;
}
.footer-left p{
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
    top: -20px;
}
.footer-left{
    margin: 0 0 0 100px;
    padding: 100px;
    width: auto;
}
.footer-left ul li{
    color: #fff;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    margin: 10px 0;
}
.footer-right{
    margin: 0 100px 0 0;
    padding: 100px;
}
.footer-left ul i{float: left;
    color: #fff; margin-right: 10px;
}
.footer-right ul li{
    color: #fff;
    margin: 10px 0;
    font-weight: 600;
}
.footer-right ul li:hover{text-decoration: underline;}
.footer-right ul li i{
    margin-right: 5px;
    cursor: pointer;
}
.all-content{
    width: 100% ;
    display: flex;  
    height: auto;
    background-color: rgb(241, 242, 247);
}
.content-right{
    margin: 0 100px 20px 0;
    padding: 0 0 0 30px;
    width: 100%;
}
.right-menu{
    width: auto;
    height: auto;
    box-sizing: border-box;
    margin: 0 0 0 70px;
    background-color: #fff;
    
}
.right-header {
    width: 100%;
    margin: 0 0 0 70px;
}
.right-header p{
    font-size: 20px;
    font-weight: 600;
    padding: 40px 0 40px 0 ;
    color: rgb(228, 140, 63);
}
table tr td{
    text-align: center;

}
table tr td{
    border-collapse: collapse;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
